
td,
th{
	text-align: center;
	font-size: 12px;
	padding: 5px 0 3px 0;
	font-family: arial, sans-serif;
}

/*tr{*/
/*	display: block;*/
/*}*/

tr.month th {
	background-color: none;
	letter-spacing: 0.04rem;
	padding: 0 0 10px 10px;
	text-align: left;

}

tr.day th {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;

}

.grid {
	display: grid;
	grid-template-columns: 200px 200px 200px 200px;
	grid-template-rows: auto;
	grid-column-gap: 30px;
	grid-row-gap: 15px;
	width: 100vw;
	padding: 15px 0 0 0;
}

 table > tbody:after { clear: both; content: ''} 

.check {
	background-color: rgba(100,100,250, 0.2);
	border-radius: 3px;
}